
singularity {
  enabled = true
  autoMounts = true
}

process {
  // Path to container
  //container = '/home/rcorbett/RCORBETT/profyle_tmb/PROFYLE_TMB.sif'
  //this should pull the continer from the sylabs repo on first run
  container = 'library://richardcorbett/profyle_tmb/profyle_tmb:v0_4_0'
  executor = 'slurm'
  queue = 'upgrade'

  //to be compatible with executors that require a cpu and RAM request for all jobs
  cpus = 8
  memory = "48 GB"
}

//to make this extendable to other references in the future
profiles {
    hg19 {
        params.reference_file = "/reference/hs37d5.fa"
        params.annotation = "GRCh37.75"
        params.gatk_bin_size = 50000000 
        //fill your path to a cosmic 64 VCF below 
        params.cosmic_vcf = "/gsc/software/linux-x86/snpEff-3.2/ref_data/cosmic_v64A.vcf"
    }

    hg38 {  //TODO 
        
    }
}