
singularity {
  enabled = true
  autoMounts = true
}

process {
  // Path to container
  //container = '/home/rcorbett/RCORBETT/profyle_tmb/PROFYLE_TMB.sif'
  //this should pull the continer from the sylabs repo on first run
  container = 'library://richardcorbett/profyle_tmb/profyle_tmb:v0_3_1'
  executor = 'slurm'
  queue = 'upgrade'
}
