params.release = '2.2.8'

singularity {
  enabled = true
  autoMounts = true
}

process {
  // this should pull the continer from the sylabs repo on first run
  container = 'library://richardcorbett/profyle_tmb/profyle_tmb:v0_4_0'
  executor = 'slurm'
  queue = 'upgrade'

  // default resource allocation
  cpus = 8
  memory = 48.GB

  // process-specific resource allocation (overrides defaults)
  withName: alignReads { cpus = 48 }
  withName: manta { cpus = 48 }
  withName: markDuplicates { memory = 128.GB }
  withName: mergeBams { cpus = 16; memory = 64.GB }
  withName: msiSensor2 { cpus = 32 }
  withName: 'mutect2Wf:createPassVcfs' { cpus = 4; memory = 2.GB }
  withName: 'mutect2Wf:mutect2' { cpus = 4 }
  withName: rtgIntersectCalls { cpus = 10; memory = 16.GB }
  withName: sortBam { cpus = 10 }
  withName: strelka { cpus = 48 }
  withName: trimPair { cpus = 10 }
}

// to make this extendable to other references in the future
profiles {
    hg19 {
        params.reference_file = '/reference/hs37d5.fa'
        params.annotation = 'GRCh37.75'
        params.gatk_bin_size = 50000000
        // fill your path to a cosmic 64 VCF below
        params.cosmic_vcf = '/gsc/software/linux-x86/snpEff-3.2/ref_data/cosmic_v64A.vcf'
    }
}
